div.game
    div.opponent
        div.opponent__card-count Cards: 7
        div.opponent__name Steve
        div.opponent__books-count Books: 2

    div.table
        div.deck
            h6 The Deck goes here

    div.current-player__bubble
        div.current-player__name Logan
        div.current-player__books-count Books: 7

    div.current-player__hand
        div.current-player__card-count Cards: 8
        ul.hand--card-list
            li.hand--card-item Your
            li.hand--card-item Cards
            li.hand--card-item Go
            li.hand--card-item Here
