.game {
    background: linear-gradient(to top, #47E5BC, #C4D7F2);
    border: solid 2px #A5A728;
    height: 600px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    overflow: auto;
}

.opponent {
    background: linear-gradient(#E0E28E, #B3B560);
    border: solid 2px #6FB074;
    color: #7A6F9B;
    height: 100px;
    width: 100px;
    border-radius: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table {
    background: linear-gradient(#E0E28E, #B3B560);
    border: solid 2px #6FB074;
    height: 80px;
    width: 200px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.deck {
    margin-right: 20px;
    height: 50px;
    width: auto;
    position: absolute;
}

.current-player__bubble {
    background: linear-gradient(#E0E28E, #B3B560);
    border: solid 2px #7A6F9B;
    color: #7A6F9B;
    font-size: 18px;
    height: 100px;
    width: 100px;
    border-radius: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-player__hand {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.current-player__card-count {
    font-size: 25px;
    margin-left: 50px;
    color: #CDD042;
    -webkit-text-stroke-color: #A5A728;
    -webkit-text-stroke-width: 0.5px;
}

.hand--card-list {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    list-style-type: none;
}

.card {
    border: none;
    background: none;
    cursor: pointer;
    outline-style: solid;
    outline-color: invert
}

.play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: -15px;
    font-size: 25px;
    color: #CDD042;
    -webkit-text-stroke-color: #A5A728;
    -webkit-text-stroke-width: 0.5px;
}

.play__button {
    height: 35px;
    width: 100px;
    font-size: 25px;
    margin-left: 10px;
    background: linear-gradient(#E0E28E, #B3B560);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.play--message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: -15px;
    font-size: 25px;
    color: #CDD042;
    -webkit-text-stroke-color: #A5A728;
    -webkit-text-stroke-width: 0.5px;
}