.game-over--title {
    font-size: 50px;
    font-variant: small-caps;
    top: 20px;
    color: #CDD042;
    -webkit-text-stroke-color: #A5A728;
    -webkit-text-stroke-width: 1px;
}

.game-over--message {
    font-size: 50px;
    font-variant: small-caps;
    margin-top: -50px;
    color: #CDD042;
    -webkit-text-stroke-color: #A5A728;
    -webkit-text-stroke-width: 1px;
}

.restart {
    height: 60px;
    width: 200px;
    font-size: 30px;
    font-variant: small-caps;
    margin-left: 10px;
    background: linear-gradient(#E0E28E, #B3B560);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}